body {
  background-color: #1e1e1e; }

.navbar {
  background-color: #1e1e1e;
  border-bottom: rgba(30, 30, 30, 0.2) 1px solid; }

header {
  background: url("../img/header.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px; }
  header .bg-overlay {
    background: rgba(30, 30, 30, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 700px; }
  header .home-inner {
    margin-top: 250px; }
  header .btn-outline-light:hover {
    color: #1e1e1e;
    font-weight: lighter; }

#about {
  min-height: 700px;
  background-color: #fff; }
  #about .container {
    margin-top: 70px; }
    #about .container .btn-outline-light:hover {
      color: #1e1e1e;
      font-weight: bold; }

#producers {
  min-height: 700px;
  background-color: #1e1e1e; }

#artists {
  min-height: 700px;
  background-color: #fff; }

#contact {
  min-height: 700px;
  background-color: #1e1e1e; }
